# Byte-compiled / optimized / DLL files
/media/
.idea/
.vscode/
/common_static/
/static/
/fuyangserver/settings.py
/advertise/migrations/
/PictureText/migrations/
/study/migrations/
/userinfo/migrations/
/users/migrations/