asgiref==3.1.2
async-timeout==3.0.1
attrs==19.1.0
autobahn==19.3.3
Automat==0.7.0
beautifulsoup4==4.7.1
certifi==2019.3.9
channels==2.2.0
chardet==3.0.4
constantly==15.1.0
daphne==2.3.0
Django==2.2
django-appconf==1.0.2
django-model-utils==3.1.2
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
mysqlclient==1.4.2.post1
Pillow==9.0.0
PyHamcrest==1.9.0
PyMySQL==0.9.3
pytz==2019.1
requests==2.21.0
six==1.12.0
soupsieve==1.9.1
sqlparse==0.3.0
Twisted==19.2.0
txaio==18.8.1
urllib3==1.24.2
zope.interface==4.6.0
