/* 用户中心菜单项 */
#usermenus a:link {
    color: #000;
    line-height: 30px;
    font-weight: bold;
}

#usermenus a:visited {
    color: #333;
}

#usermenus li.active a {
    color: #43bc60;
    font-weight: bold;
}

.fc-green {
    color: green;
}

.rmb {
    background: url("../currency_yuan_green.png") left 3px no-repeat;
    text-indent: 2em;
}
