{% extends 'userinfo/userinfo_base.html' %}

{% load staticfiles %}

{% block title %}账户中心{% endblock %}

{% block userinfo_title %}
    个人信息
{% endblock %}
{% block userinfo_base_center_class %}active{% endblock %}
{% block userinfo_content %}

    <form id="user-profile-form" class="row cd-row" action="{% url 'userinfo_center_change' %}" method="post"
          novalidate="novalidate">
        {% csrf_token %}
        <div class="col-md-11">
            <div class="cd-image-upload cd-mr24 cd-mb32">
                <img class="cd-avatar cd-avatar-lg" id="profile-avatar"
                     src="{{ user.headimgurl }}">


            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group cd-form-group">
                <label for="profile_truename">昵称</label>
                <input type="text" id="profile_truename" name="profile[truename]"
                       class="form-control" value="{{ user.nickname }}">
            </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
            <div class="form-group cd-form-group">
                <label>性别</label>
                <div class="cd-radio-group">
                    <label class="cd-radio {% if user.sex == 1 %}checked{% endif %}" for="profile_gender_0">
                        <input type="radio" id="profile_gender_0" name="profile[gender]" value="1"
                               {% if user.sex == 1 %}checked=""{% endif %}
                               data-toggle="cd-radio"> 男
                    </label>

                    <label class="cd-radio {% if user.sex != 1 %}checked{% endif %}" for="profile_gender_1">
                        <input type="radio" id="profile_gender_1" name="profile[gender]" value="0"
                               {% if user.sex != 1 %}checked=""{% endif %}
                               data-toggle="cd-radio"> 女
                    </label>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="form-group cd-form-group">
                <label for="profile_title">国家</label>
                <input type="text" id="profile_title" name="profile[title]" class="form-control"
                       value="{{ user.country }}">
            </div>
        </div>

        <div class="col-md-5 col-md-offset-1">
            <div class="form-group cd-form-group">
                <label for="profile_signature">省 / 城市</label>
                <div class="input-group">
                    <input type="text" id="profile_signature" name="profile[signature]" class="form-control"
                           value="{{ user.province }}">
                    <span class="input-group-addon">/</span>
                    <input type="text" id="profile_city" name="profile[city]" class="form-control"
                           value="{{ user.city }}">
                </div>
            </div>
        </div>

        <div class="col-md-5 col-md-offset-1">
            <div class="form-group cd-form-group">
                <label for="profile_signature">地址</label>
                <input type="text" id="profile_address" name="profile[address]" class="form-control"
                       value="{{ user.address }}">
            </div>
        </div>

        <div class="col-md-5 col-md-offset-1">
            <div class="form-group cd-form-group">
                <label for="profile_signature">真实姓名</label>
                <input type="text" id="profile_real_name" name="profile[real_name]" class="form-control"
                       value="{{ user.real_name }}">
            </div>
        </div>

        <div class="col-md-5">
            <div class="form-group cd-form-group">
                <label for="profile_title">手机号</label>
                <input type="text" id="profile_phone_number" name="profile[phone_number]" class="form-control"
                       value="{{ user.phone_number }}">
            </div>
        </div>

        <div class="col-md-5">
            <div class="form-group cd-form-group">
                <label for="profile_title">邮箱</label>
                <input type="text" id="profile_email_address" name="profile[email_address]" class="form-control"
                       value="{{ user.email_address }}">
            </div>
        </div>

        <div class="col-md-5 col-md-offset-1">
            <div class="form-group cd-form-group">
                <label for="profile_protocal">用户服务协议</label>
                <textarea class="form-control" name="profile_protocal" rows="6" disabled="disabled">
扶阳医学在线学习平台
——用户服务协议

欢迎您使用扶阳医学在线学习平台，（以下简称“扶阳在线”），为了保障您（以下也称“用户”）的权益，请在使用扶阳在线提供的服务之前，详细阅读此服务协议（以下简称“本协议”）所有内容，确认您已理解和接受本协议，当您在平台注册账号时，需点击“同意服务协议并注册”，成功注册后，即表明您已同意本协议。如果您未满18周岁，请在法定监护人的陪同下阅读本协议，并在法定监护人的指导下使用本服务。

本协议内容包括协议正文及将来可能发布的各类规则。所有规则为本协议不可分割的组成部分，与协议正文具有同等法律效力。除另行明确声明外，您使用扶阳在线提供的服务均受本协议约束。

第一条  定义

1. 扶阳医学在线学习平台、在线课程均是深圳市国医传承医学研究院有限公司推出的在线教育产品和服务，向用户提供关于扶阳医学等学习及相关内容。

2. 用户是指在扶阳医学在线平台上注册，或支付了扶阳医学在线学习费用并参与该课程学习的个人。

第二条   协议的修订

扶阳在线有权在必要时通过火神门微信公众号上发出公告等合理方式来修改本协议及相关服务条款。

您在使用扶阳医学在线平台、参与扶阳医学在线课程时，应当及时查阅了解修改的内容，并自觉遵守本协议的相关内容。

如您继续使用扶阳医学在线平台的服务，则视为同意修改内容，当发生有关争议时，将以最新的服务协议为准。如您不同意上述修改内容，可以停止使用本协议涉及的服务。

第三条   在线学习平台的使用约定

您须对自己在使用扶阳在线服务过程中的行为承担法律责任。您承担法律责任的形式包括但不限于：对受到侵害者进行赔偿；以及在扶阳在线首先承担了因您的行为导致的行政处罚或侵权损害赔偿责任后，您应给予扶阳在线等额的赔偿。

您了解并同意，扶阳在线有权应有关部门的要求，向其提供您提交给扶阳在线或在使用扶阳在线提供的服务中存储于扶阳在线服务器的必要信息。如您涉嫌侵犯他人合法权益，则扶阳在线有权在初步判断涉嫌侵权行为存在的情况下，向权利人提供关于您的前述必要信息。

第四条   个人隐私

您知悉并同意，为便于向您提供更好的服务，扶阳在线将在您自愿选择服务或者提供信息的情况下收集您的个人信息，并将这些信息进行整合。在您使用扶阳医学在线平台的服务时，服务器会自动记录某些用户信息，包括但不限于URL、IP地址、浏览器类型、使用语言、访问日期和时间等。

为方便您登录或使用扶阳医学在线平台服务，扶阳在线在有需要时将使用cookies等技术，并将收集到的信息发送到对应的服务器。您可以选择接受或者拒绝cookies。如您选择拒绝cookies，则您有可能无法登录或使用依赖于cookies的服务或者功能。

扶阳在线收集的信息将成为扶阳医学在线平台常规教学档案的一部分，用户同意扶阳医学在线平台善意使用所收集的信息。扶阳在线将采取可能的措施保证信息安全。尊重用户个人隐私是扶阳在线的一项基本政策。所以，扶阳在线不会公开或透露您的注册资料及保存在扶阳医学在线平台服务中的非公开内容，除非扶阳在线在诚信的基础上认为透露这信息在以下几种情况是必要的：

1. 事先获得您的明确授权；

2. 根据国家有关法律规定，包括但不限于在国家司法机关要求等必要情况时提供您的注册信息、您在网页上发布的信息内容及其发布时间、互联网地址、域名等信息；

3. 保持维护扶阳在线的知识产权和其他重要权利；

4. 在紧急情况下竭力维护您个人和社会大众的隐私安全；

5. 根据本协议相关规定或者扶阳在线认为必要的其他情况下。

第五条   账号使用的约定

1. 您可通过以下方式注册成为扶阳在线的正式用户：

a. 经本平台注册系统完成注册程序的用户；
b. 经平台批准的第三方合作网站登录的用户，包括微信绑定登录等。 成为扶阳在线正式用户即获得本平台赋予用户所享有的权限。扶阳在线有对用户的权限设计进行变更的权利。

2. 如发现用户的帐号中含有不雅文字或不恰当名称的，本平台保留取消其用户资格的权利。

3. 您的用户帐号的所有权归属于扶阳在线，您仅享有使用权。

4. 您有义务保障密码和帐号的安全，您利用该密码和帐号所进行的一切活动引起的任何损失或损害，由您自行承担全部责任，扶阳在线不承担任何责任。如您发现帐号遭到未授权的使用或发生其他任何安全问题，应立即修改帐号密码并妥善保管，如有必要，请及时通知扶阳在线的工作人员。因黑客行为或您的保管疏忽导致帐号非法使用，扶阳在线不承担任何责任。

第六条  适当言论

您知悉并同意，在扶阳在线相关的线上或线下社区、用户互动组群等场所，保持良好的言行准则，遵守法律，尊重他人，不发表违反国家法律、侮辱或诽谤他人、侵犯他人隐私、不文明的言论，不进行违反国家法律、侮辱或诽谤他人、侵犯他人隐私、不文明的行为。

第七条  在线学习和使用的约定

1. 扶阳在线提供的在线课程学习内容，是深圳市国医传承医学研究院有限公司基于本组织或所研究和积累的相关内容的学术表达，不代表任何其它组织或个人的意见，同时也不保证与任何其它包括学术观点的任何观点与理论的一致性。

2. 课程费用仅为扶阳医学在线课程的教育信息费，并不兑现其它产品及服务，且不包含上网电话费、上网信息费等用户端的为获取课程所需要的费用。

3. 视频回放：以当堂课开课当天为起始日算起，在每节直播课程结束后的14日以内，报名缴费的用户可登录在线课堂进行补课或重复观看与复习。

4. 课程播出日程：在线课程（包括本人购买以及赠送的课程）按照既定日程播出，如扶阳在线遇特殊情况需要调整变动直播上课时间，必须在火神门微信公众号~扶阳医学在线学习平台上提前通知报名缴费的用户。用户有义务按时收看直播课程或在直播课程后14日内观看回放课程进行学习。无论用户是否收看直播课程或在课程后14日内观看回放课程，均不影响课程的正常进行。如果用户没有及时收看直播课程或在课程后14日内观看回放课程，则代表用户放弃本节课程的学习。任何没有及时收看直播课程或在课程后14日内观看回放课程的用户，都无权以未收看上述课程的理由向扶阳在线提出退还上述课程费用的要求。

5. 退课：每一门在线课程（包括本人购买以及赠送课程）按照既定日程播出，在每一门课程的第一节直播课程开始上课之前，报名缴费的用户可以申请退课退款，扶阳在线将退还已支付的全额费用，一旦用户提交退课退款申请，扶阳在线将同时停止用户的听课及课程结束后14日内观看回放、参与课程互动等权限。第一节直播课一旦开始上课，则不接受用户的退课申请。

6. 开具发票：需要开具课程费用发票的缴费用户，可以在扶阳医学在线学习平台上提交开票申请，并填写发票开具的具体信息，且不接受退票，发票为增值税普通发票。
6. 因每个人的身体状况和脉证各不相同，扶阳在线所有的医案处方，如需使用请找专业医生确认，如自行服用方剂而引起不适反应，应自行承担后果。

第八条  内容所有权及知识产权

深圳市国医传承医学研究院有限公司拥有扶阳在线所有课程内容，包括且不限于：直播视频、重播视频、相关网页及视频中的文字、图片、音频、视频等内容的著作权、知识产权以及经营权，未经深圳市国医传承医学研究院有限公司书面授权许可，任何学员、任何组织和个人不得对上述内容进行任何形式的下列行为：包括但不限于复制、改编、录制、传播、交易、出售、发表、存储或上传至其他平台（不论商业或非商业途径）。如有违反，深圳市国医传承医学研究院有限公司将依据《中华人民共和国著作权法》、《互联网信息网络传播管理条例》、《中华人民共和国刑法》等相关法律法规的规定，追究侵权人的相关法律责任。

本协议适用中华人民共和国法律。当本协议的任何内容与中华人民共和国法律相抵触时，以法律规定为准，同时相关内容将按法律规定进行修改或重新解释。本协议其他部分的法律效力不变。 本协议自您同意之日起生效，您与扶阳在线共同遵守。扶阳在线不行使、未能及时行使或者未充分行使本协议或者按照法律规定所享有的权利，不应被视为放弃该权利，也不影响扶阳在线在未来行使该权利。

本协议的最终解释权归深圳市国医传承医学研究院有限公司所有。</textarea>
            </div>
        </div>

        <div class="col-md-11">
            <button class="btn cd-btn cd-btn-primary cd-btn-lg" type='button' onclick="submitForm()">保存
            </button>
        </div>

    </form>
{% endblock %}

{% block scriptfile %}

    <script>


        var regBox = {
            regEmail: /^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/,//邮箱
            regMobile: /^1[34578]\d{9}$/,
            regTel: /^0[\d]{2,3}-[\d]{7,8}$/  //电话
        }

        function submitForm() {
            em = document.getElementById('profile_email_address').value
            tel = document.getElementById('profile_phone_number').value
            em = em.replace(/[ ]/g, "");   //去掉所有空格
            tel = tel.replace(/[ ]/g, "");   //去掉所有空格

            if (tel != '' && !regBox.regMobile.test(tel)) {
                alert("手机号格式错误")
                return false
            }
            if (em != '' && !regBox.regEmail.test(em)) {
                alert("邮箱格式错误")
                return false
            }

            var form = document.getElementById("user-profile-form")
            form.submit();
        }


    </script>

{% endblock %}