{% extends 'userinfo/userinfo_base.html' %}

{% block title %}账务中心{% endblock %}

{% block userinfo_content %}
    <div class="cd-setting">
        <span class="setting-icon"><i class="cd-icon cd-icon-money-bag"></i></span>
        <span class="setting-title">账户余额</span>
        <span class="setting-content">经常更改密码有助于保护您的帐号安全</span>
        <span class="setting-action">
            <button type="button" class="btn btn-link"><span
                    class="badge fc-green">¥ {{ request.user.account_sum }}</span></button>
            <a href="{% url 'userinfo_refill' %}" class="btn cd-btn cd-btn-default">充值</a>
          </span>
    </div>

    <div class="cd-setting">
        <span class="setting-icon"><i class="cd-icon cd-icon-coupon"></i></span>
        <span class="setting-title">听课券</span>
        <span class="setting-content"></span>
        <span class="setting-action">
            <button type="button" class="btn btn-link"><span
                    class="badge fc-green">{{ request.user.attendance_ticket }}</span></button>
        </span>
    </div>

    <div class="cd-setting">
        <span class="setting-icon"><i class="cd-icon cd-icon-coupon"></i></span>
        <span class="setting-title">兑换券</span>
        <span class="setting-content"></span>
        <span class="setting-action">
            <button type="button" class="btn btn-link"><span
                    class="badge fc-green">{{ request.user.exchange_ticket }}</span></button>
        </span>
    </div>
{% endblock %}