{% extends 'userinfo/orders_base.html' %}

{% load staticfiles %}

{% block title %}账户中心{% endblock %}

{% block orders_base_orders_style %}class="active"{% endblock %}

{% block orders_base_table %}
    <table class="table cd-table table-condensed" id="orders-table">
        <thead>
        <tr>
            <th width="25%">商品名称</th>
            <th class="text-right">实付</th>
            <th>购买时间</th>
            <th>订单状态</th>
            <th style="min-width:100px">操作</th>
        </tr>
        </thead>

        <tbody>
        {% for item in orders %}
            <tr id="order-table-13553">
                <td>
                    <a class="cd-link-gray-dark" href="{{ item.get_goods_url }}"
                       target="_blank">{{ item.get_name }}</a>
                </td>
                <td class="text-right">{{ item.price }} 元</td>
                <td>{{ item.register_date|date:"Y-m-d" }}</td>
                <td>
                    <span class="cd-status cd-status-success">交易成功</span>

                </td>
                <td>
                    <div class="table-action">
                        <div class="table-action__item">
                            {% if item.is_draw_bill %}
                                <a class=" btn-effective"
                                   data-toggle="modal" data-url="">已开发票</a>
                            {% else %}

                                {% if item.apply_bill %}
                                    <a class=" btn-effective"
                                       data-toggle="modal" data-url="">发票申请中</a>
                                {% else %}
                                    <a class=" btn-effective" href="javascript:show_modal({{ item.pk }});"
                                       data-toggle="modal" data-url="">开发票</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


{% block userinfo_content_end %}
    <div id="modal_div" style="display: none">

    </div>
{% endblock %}

{% block scriptfile %}

    <script>
        modal_div = document.getElementById('modal_div')
        $(function () {

        });

        function show_modal(pk) {
            modal_div.style.display = "block";
            document.body.classList.add("modal-open");
            $.get("{% url 'userinfo_orders_inner' %}", {'pk': pk}, function (ret) {
                //alert(ret)
                modal_div.innerHTML = ret;
            })

        }

        function hide_modal() {
            modal_div.innerHTML = "";
            modal_div.style.display = "none";
            document.body.classList.remove("modal-open");
        }


        function submitForm() {
            var form = document.getElementById("invoice-form")
            form.submit();
            modal_div.innerHTML = "";
            modal_div.style.display = "none";
            document.body.classList.remove("modal-open");
        }


    </script>

{% endblock %}