{% extends 'study/main_base.html' %}

{% load staticfiles %}

{% block title %}用户中心{% endblock %}

{% block content %}
    <div class="container cd-container">
        <div class="cd-content">
            <div class="cd-sidebar">
                <div class="panel" style="margin-bottom: 0;">
                    <div class="panel-heading">账户中心</div>
                    <div class="panel-body" style="padding-bottom: 0;">
                        <ul class="list-inline" id="usermenus">
                            <li><a href="{% url 'userinfo_center' %}">个人信息</a></li>
                            <li><a href="{% url 'userinfo_realname' %}">实名认证</a></li>
                            <li><a href="{% url 'userinfo_secure' %}">安全设置</a></li>
                            <li><a href="{% url 'userinfo_finance' %}">账务中心</a></li>
                            <li><a href="{% url 'userinfo_orders' %}">我的订单</a></li>
                            <li><a href="{% url 'userinfo_collection' %}">我的收藏</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="cd-main">
                <div class="cd-main__body">
                    {% block userinfo_content %}
                        用户中心内容
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    {% block userinfo_content_end %}
    {% endblock %}

{% endblock %}