{% extends 'study/main_base.html' %}

{% load staticfiles %}

{% block title %}{{ column.name }}{% endblock %}


{% block content %}
    <section class="es-poster swiper-container">
        <div class="swiper-wrapper"
             style="width: 3375px; transform: translate3d(-1125px, 0px, 0px); transition-duration: 0.3s; height: 117px;">
            {% for item in abs %}
                <div class="swiper-slide" style="background: rgb(244, 244, 244); width: 375px; height: 117px;">
                    <div>
                        <a href="{{ item.url }}" target="_blank">
                            <img class="img-responsive" src="{{ item.image.url }}">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="swiper-pager">
            {% for item in abs %}
                <span class="swiper-pagination-switch"></span>
            {% endfor %}
        </div>
    </section>

    <div id="content-container" class="container">
        <div class="es-tabs article-list-header" style="border:0px solid #e4ecf3;">
            <div class="tab-header">

                    {% for c in columns %}
                        <li class="{% if c.pk == column.pk %}active{% endif %}">
                            <a href="{% url "picture_text_category" c.pk %}">{{ c.name }}</a>
                        </li>
                    {% endfor %}

            </div>

        </div>


        <div class="article-list-body row">
            <div class="col-md-12 article-list-main">

                <section class="es-section" style="padding:1px; border:0px solid #e4ecf3; " >
                    <div class="article-list">
                        {% for paper in papers %}
                            <div class="media media-sm" style="margin-top:10px">
                                <div class="media-body" style="padding-left:5px">
                                    <a href="{% url 'picture_details' paper.pk %}"><h4 class="media-heading" style="color:black;font-style: " PingFangSC-Semibold, sans-serif;"; ">{{ paper.name }}</h4></a>
                                    <span class="media-heading" style="color:black;font-style: " PingFangSC-Semibold, sans-serif;"; " >{{ paper.introduce|truncatechars:28 }}</span>
                                    <p><small>{{ paper.register_date|date:"Y-m-d" }}</small></p>
                                </div>
                                <a class="media-left" style="padding-right:1px;" href="{% url "picture_details" paper.pk %}">
                                    <img src="{{ paper.image.url }}" alt="{{ paper.name }}" class="media-object"
                                         width="106" height="80"/>
                                </a>
                            </div>
                        {% endfor %}

                    </div>

                </section>
            </div>


        </div>

    </div>
{% endblock %}