{% extends 'study/main_base.html' %}

{% load staticfiles %}
{% load htmlhelper %}
{% block title %}{{ column.name }}{% endblock %}

{% block content %}
    <section class="es-poster swiper-container">
        <div class="swiper-wrapper"
             style="width: 3375px; transform: translate3d(-1125px, 0px, 0px); transition-duration: 0.3s; height: 117px;">
            {% for item in abs %}
                <div class="swiper-slide" style="background: rgb(244, 244, 244); width: 375px; height: 117px;">
                    <div>
                        <a href="{{ item.url }}" target="_blank">
                            <img class="img-responsive" src="{{ item.image.url }}">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="swiper-pager">
            {% for item in abs %}
                <span class="swiper-pagination-switch"></span>
            {% endfor %}
        </div>
    </section>

    <div id="content-container" class="container">
        <div class="es-tabs article-list-header">
            <div class="tab-header">
                <ul class="clearfix">
                    {% for c in categories %}
                        <li class="{% if c.id == column.id %}active{% endif %}">
                            <a href="{% url "picture_text_column" c.id %}">{{ c.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="article-list-body row">
            <div class="col-md-12 article-list-main">
                <section class="es-section">
                    <div class="article-list">
                        {% for paper in papers %}
                            <article class="article-item xt-article-item">
                                <div class="article-metas clearfix">
                                    <div class="pull-right">
                                        {% is_buy paper.video.pk request.user.pk %}
                                    </div>
                                    <div class="pull-left">
                                        <div class="date">
                                            <div class="num">{{ forloop.counter }}</div>
                                        </div>
                                    </div>
                                    <div class="metas-body">
                                        <h2 class="title">
                                            <a class="link-dark" target="_blank"
                                               href="{% url "picture_text_paper" paper.pk %}">{{ paper.name }}</a>
                                        </h2>
                                        {% if paper.remark %}
                                            <small>{{ paper.remark }}</small>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left">
                                        <a target="_blank" href="{% url "picture_text_paper" paper.pk %}">
                                            <img class="thumb-img" src="{{ paper.image.url }}" alt="{{ paper.name }}">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <a class="color-gray" target="_blank"
                                           href="{% url "picture_text_paper" paper.pk %}">{{ paper.introduce }}</a>
                                        <a class="all-article-btn" target="_blank"
                                           href="{% url "picture_text_paper" paper.pk %}">查看全文</a>
                                    </div>
                                </div>
                            </article>
                        {% endfor %}

                    </div>

                </section>
            </div>
        </div>
    </div>
{% endblock %}
