{% extends 'study/base.html' %}
{% block title %}微信支付确认页面{% endblock %}
{% block bodycontent %}
    <div style="margin-top:30px; padding:15px; text-align: center; font-size: large;">
        <h4>订单编号：{{ params.out_trade_no }}</h4>
        <h3>¥{% widthratio params.total_fee 100 1 %}</h3>
        <p>收款方：深圳市国医传承医学研究院有限公司</p>
    </div>
    <button type="button" onclick="callpay()" class="btn btn-block btn-lg"
            style="background-color: green; color:#fff; font-weight: bold;">立即支付
    </button>
{% endblock %}

{% block scriptfile %}

    <script type="text/javascript">
        //调用微信JS api 支付
        function onBridgeReady() {
            WeixinJSBridge.invoke(
                'getBrandWCPayRequest',
                {
                    appId: "{{ params.appid }}",        //公众号名称，由商户传入
                    timeStamp: "{{ params.timeStamp }}", //时间戳，自1970年以来的秒数
                    nonceStr: "{{ params.nonceStr }}",  //随机串
                    package: "prepay_id={{ params.prepay_id }}",  //预支付id
                    signType: "MD5",  //微信签名方式
                    paySign: "{{ params.sign }}"     //微信签名
                },
                function (res) {
                    var vid = '{{ vc.pk }}';
                    //支付成功后返回 get_brand_wcpay_request:ok
                    if (res.err_msg == "get_brand_wcpay_request:ok") {
                        // 跳转到支付成功的页面
                        $.get("{% url 'picture_text_coursepay' %}", {pk: vid, pt: 'wxpay'}, function (ret) {
                            if (ret == "1") {
                                alert('报名成功!');
                                location.href = '/';
                            } else {
                                alert('保存支付记录失败');
                                checkorder('{{ params.out_trade_no }}', vid, 'wxpay');
                            }
                        })
                    } else if (res.err_msg == "get_brand_wcpay_request:cancel") {
                        alert("您已取消支付!");
                    } else if (res.err_msg == "get_brand_wcpay_request:fail") {
                        $.each(res, function (key, value) {
                            alert(value);
                        });
                        alert("支付失败!");
                    } else {
                        checkorder('{{ params.out_trade_no }}', vid, 'wxpay');
                    }
                }
            );
        }

        function callpay() {
            if (typeof WeixinJSBridge == "undefined") {
                if (document.addEventListener) {
                    document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
                } else if (document.attachEvent) {
                    document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                    document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
                }
            } else {
                onBridgeReady();
            }
        }

        //检查微信支付订单是否成功
        function checkorder(orderno, vid, paytype) {
            $.get("{% url 'picture_text_checkorder' %}", {
                'ordernum': orderno,
                'pk': vid,
                'pt': paytype
            }, function (ret) {
                console.log(ret);
            })
        }
    </script>
{% endblock %}