{% extends 'study/base.html' %}

{% load staticfiles %}

{% block title %}作业{% endblock %}


{% block titlefile %}
    <script type="text/javascript">
        function callByChild(){
            window.location.href = "{{ job.get_parent_url }}";
        }
    </script>
{% endblock %}


{% block bodycontent %}



    <div id="js-hidden-data">
        <input type="hidden" name="course-id" value="50">
        <input type="hidden" name="task-id" value="381">
        <input type="hidden" name="task-result-status" value="finish">
        <input type="hidden" name="mode" value="learn">
        <input type="hidden" name="plugins_url" value="/course/50/task/381/show/plugins">
    </div>

    <div class="task-dashboard-page js-task-dashboard-page">
        <div class="dashboard-content" id="dashboard-content">
            <div class="dashboard-header">
                <a class="back-link" href="{{ job.get_parent_url }}">
                    <i class="es-icon es-icon-chevronleft"></i>返回课程
                </a>
                {{ job.name }}
            </div>
            <div class="dashboard-body">
                <div class="mobile-scroll-wrapper  all-wrapper">
                    <iframe id="task-content-iframe" class="task-content-iframe" data-event-enable="1"
                            data-event-url="/course/50/task/381/trigger"
                            data-last-time="1535166606" src="{{ job.get_iframe_url }}"
                            style="width:100%;height:100%;border:0"
                            allowfullscreen="" webkitallowfullscreen="">
                    </iframe>
                </div>
            </div>


        </div>

    </div>





{% endblock %}