{% extends 'study/main_base.html' %}
{% load staticfiles %}
{% block title %}{{ item.name }}{% endblock %}
{% block content %}
    <section class="es-poster swiper-container">
        <div class="swiper-wrapper"
             style="width: 3375px; transform: translate3d(-1125px, 0px, 0px); transition-duration: 0.3s; height: 117px;">
            {% for item in abs %}
                <div class="swiper-slide" style="background: rgb(244, 244, 244); width: 375px; height: 117px;">
                    <div>
                        <a href="{{ item.url }}" target="_blank">
                            <img class="img-responsive" src="{{ item.image.url }}">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="swiper-pager">
            {% for item in abs %}
                <span class="swiper-pagination-switch"></span>
            {% endfor %}
        </div>
    </section>

    <div id="content-container" class="container">
        <ol class="breadcrumb open-course-breadcrumb">
            <li><a href="/">首页</a></li>
            <li><a href=".">资料区</a></li>
            <li>正文</li>
        </ol>

        <div class="article-detail row" id="detail-content">
            <!-- 主内容 -->
            <div class="col-md-12 article-detail-main">
                <section class="es-section article-content">
                    <div class="article-metas">
                        <div class="pull-left">
                            <div class="date">
                                <div class="day">{{ item.updatetime|date:"d" }}</div>
                                <div class="month">{{ item.updatetime|date:"m" }}月</div>
                            </div>
                        </div>
                        <div class="metas-body">
                            <h2 class="title">
                                {{ item.name }}
                            </h2>
                            <div class="sns">
                            <span class="views-num">
                                <a href="{{ item.file.url }}" target="_blank">点击下载</a>
                            </span>
                            </div>
                        </div>
                    </div>

                    <div class="article-text">
                        {% autoescape off %}
                            {{ item.content }}
                        {% endautoescape %}
                    </div>
                </section>
            </div>


        </div>

    </div>

{% endblock %}