{% extends 'study/main_base.html' %}

{% load staticfiles %}

{% block title %}资料区{% endblock %}


{% block content %}
    <section class="es-poster swiper-container">
        <div class="swiper-wrapper"
             style="width: 3375px; transform: translate3d(-1125px, 0px, 0px); transition-duration: 0.3s; height: 117px;">
            {% for item in abs %}
                <div class="swiper-slide" style="background: rgb(244, 244, 244); width: 375px; height: 117px;">
                    <div>
                        <a href="{{ item.url }}" target="_blank">
                            <img class="img-responsive" src="{{ item.image.url }}">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="swiper-pager">
            {% for item in abs %}
                <span class="swiper-pagination-switch"></span>
            {% endfor %}
        </div>
    </section>

    <div id="content-container" class="container">
        <div class="article-list-body row">
            <div class="col-md-12 article-list-main">
                <section class="es-section">
                    <div class="article-list">
                        {% for item in ds %}
                            <div class="media media-sm">
                                <a class="media-left" href="{% url "datadetail" item.pk %}">
                                    <img src="{{ item.image.url }}" alt="{{ item.name }}" class="media-object"
                                         width="80" height="60"/>
                                </a>
                                <div class="media-body">
                                    <p class="pull-right" style="padding-left: 10px;">
                                        <a href="{{ item.file.url }}" target="_blank">下载</a>
                                    </p>
                                    <p class="media-heading" style="color: #000;">
                                        <a href="{% url 'datadetail' item.pk %}" style="color:#666;">{{ item.name }}</a>
                                    </p>
                                    <p>{{ item.introduce|truncatechars:43 }}</p>
                                </div>
                            </div>
                        {% empty %}
                            没有数据
                        {% endfor %}
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}