{% extends 'study/base.html' %}

{% load staticfiles %}

{% block titlefile %}
    <style type="text/css">
        .back_color {
            background-color: #1d1d1d;
            height: 100%;
            bottom: 38px;
        }
    </style>
{% endblock %}

{% block title %}直播简介{% endblock %}

{% block bodycontent %}

    <div class="back_color">
        <p>
            {% if is_superuser %}
                {% if not liveinfo.is_replay %}
                    <button class="btn btn-primary btn-lg" id="sum" onclick="nextPage();">下一页</button>
                {% endif %}
            {% endif %}
        </p>

        <p><img id="id_liveimage" class="img-responsive" alt="直播课件"></p>
    </div>

{% endblock %}

{% block scriptfile %}
    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript">

        {% if liveinfo.is_replay %}
            var srcs = new Array();
            var times = new Array();
            {% for item in imageUrls %}
                srcs.push("{{ item.src }}");
                times.push({{ item.time }});
            {% endfor %}
        {% endif %}

        var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        var chatSocket = new WebSocket(ws_scheme + '://' + window.location.host + '/ws/chat/' + {{ liveinfo.pk }} +'/');

        chatSocket.onmessage = function (e) {
            var data = JSON.parse(e.data);
            var message = data['message'];
            var action = data['action'];
            if (action == 'nextimg') {
                $('#id_liveimage').attr('src', message);
            }
            console.log('receive response:' + message);
        };

        chatSocket.onopen = function () {
            console.log('websocket connection is created:[nextimg]');
            //var text_data = {'message': 'heelo channels'};
            //chatSocket.send(JSON.stringify(text_data));
        };

        $(function () {
            updateMsg();    //更细信息
        });

        //更新消息
        function updateMsg() {
            {% if liveinfo.is_replay %}
                var t = parent.callByChild()
                for (var i = 0; i < srcs.length; i++) {
                    var s = ""
                    if (times[i] <= t) {
                        s = srcs[i]
                    }
                    var index = document.getElementById("id_liveimage").src.indexOf(s)
                    if (index == -1 && s != "") {
                        document.getElementById("id_liveimage").src = s
                    }
                }
                //document.getElementById("id_liveimage").src = srcs[0];
            {% else %}
                if (self.document.body.clientWidth > 0) {
                    $.get("{% url 'iframe_tasklive_introduce_liveimage' liveinfo.pk %}", {}, function (ret) {
                        document.getElementById("id_liveimage").src = ret;
                    })
                }
            {% endif %}
            //setTimeout("updateMsg()", 1000);        //每秒更新一次
        }

        var startnum = 0;  //起始课件
        function nextPage() {
            $.get("{% url 'iframe_tasklive_introduce_nextimage' liveinfo.pk %}", {num: startnum}, function (ret) {
                //$('#id_liveimage').attr('src', ret);
                var text_data = {'message': ret, 'action': 'nextimg'};
                var jsonstr = JSON.stringify(text_data);
                console.log('send directive:' + jsonstr);
                chatSocket.send(jsonstr);
            })
            startnum += 1;  //下一张课件
        }
    </script>

{% endblock %}