{% extends 'study/base.html' %}

{% load staticfiles %}
{% load filters %}


{% block titlefile %}
    <style>
        body {
            padding-bottom: 50px;
        }

        .footer {
            position: fixed;
            left: 0px;
            bottom: 0px;
            width: 100%;
            height: 34px;
            z-index: 9999;
        }

        .pull-center {
            width: 100%;
            height: 100%;
        }

        .form-control1 {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #919191;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }
    </style>
{% endblock %}
{% block title %}直播问答{% endblock %}


{% block bodycontent %}
    <p>&nbsp;</p>
    <div class="es-piece">
        <div class="piece-body p-lg clearfix" id="list-group-item">
            <!--<div class="list-group-item">-->
            {% for comment in comments %}
                <div class="js-reviews">
                    <div class="media media-evaluate">
                        <div class="media-left">

                        </div>
                        <div class="media-body thread-post">
                            <div class="title">
                                <a class="link-dark " href="javascript:;">{{ comment.author.nickname }}</a>
                                &nbsp;{{ comment.register_date|date:"Y-m-d H:i" }}
                            </div>
                            <div class="content">

                                <div class="full-content">
                                    {{ comment.message|linebreaksbr }}
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <input type="hidden" class="chat_id" value="{{ comment.id }}"/>
            {% endfor %}


        </div>
    </div>

    <div class="footer">

        <!--<button type="button" class="btn btn-primary pull-right" onclick='submitFormData();' style="float:left;">提交
                            </button>
        <textarea class="form-control " name="content " data-display="内容 " style="float:left;"></textarea>-->
        <form id="chatForm" class="footer" method="POST" action="{{ liveinfo.get_iframe_ask_post_url }}">
            {% csrf_token %}
            <div style="height:100%;width:2%;float:left;"></div>
            <div id="menu" style="height:100%;width:78%;float:left;">
                <textarea class="form-control1" name="content" data-display="内容 "></textarea>
            </div>
            <div style="height:100%;width:3%;float:left;"></div>
            <div style="height:100%;width:15%;float:left;">
                <input type="hidden" name="post_type" value="send_chat"/>
                <input type="submit" class="btn btn-primary pull-center " value="发送"/>
            </div>
            <div style="height:100%;width:2%;float:left;"></div>
        </form>
    </div>


{% endblock %}


{% block scriptfile %}
    <script>
        $(function () {
            updateMsg();    //更细信息
            //表单 submit 事件
            $("#chatForm").submit(function () {
                //ajax 提交表单
                $.post("{{ liveinfo.get_iframe_ask_post_url }}",
                    $('#chatForm').serialize(),
                    function (data) {
                        $(".form-control1").val("");  //消息发送成功后清空内容框
                    });
                return false;       //阻止表单提交
            });
        });

        //更新消息
        function updateMsg() {
            if (self.document.body.clientWidth > 0) {
                $.post(
                    "{{ liveinfo.get_iframe_ask_post_url }}",
                    {
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        post_type: "get_chat",
                        last_chat_id: $(".chat_id").first().val()
                    },
                    function (data) {

                        $("#list-group-item").prepend(data);    //解析返回的 xml
                    });
            }
            setTimeout("updateMsg()", 1000);        //每秒更新一次
        }
    </script>
{% endblock %}