{% extends 'study/base.html' %}

{% load staticfiles %}
{% load filters %}

{% block titlefile %}
    <style type="text/css">
        .pull-center {
            width: 100%;
            height: 100%;
        }

        .form-control1 {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #919191;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }
    </style>
{% endblock %}
{% block title %}直播讨论{% endblock %}


{% block bodycontent %}
    <div class="es-piece">
        <p>
            {% if request.user.is_superuser %}
                <button class="btn btn-primary btn-lg" id="trv">关闭评论</button>
            {% endif %}
        </p>

        <div class="piece-body p-lg clearfix" id="list-group-item">
            <!--<div class="list-group-item">-->
            {% for comment in comments %}
                <div class="js-reviews">
                    <div class="media media-evaluate">
                        <div class="media-left">

                        </div>
                        <div class="media-body thread-post">
                            <div class="title">
                                <a class="link-dark " href="javascript:;">{{ comment.author.nickname }}</a>
                                &nbsp;{{ comment.register_date|date:"Y-m-d H:i" }}
                            </div>
                            <div class="content">

                                <div class="full-content">
                                    {{ comment.message|linebreaksbr }}
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <input type="hidden" class="chat_id" value="{{ comment.id }}"/>
            {% endfor %}

        </div>
    </div>

    <!--<div class="footer">

        <form id="chatForm" class="footer" method="POST" action="{{ liveinfo.get_iframe_reviews_post_url }}">{% csrf_token %}
        <div style="height:100%;width:2%;float:left;"></div>
        <div id="menu" style="height:100%;width:78%;float:left;">
            <textarea class="form-control1" name="content" data-display="内容 "></textarea>
        </div>
        <div style="height:100%;width:3%;float:left;"></div>
        <div style="height:100%;width:15%;float:left;">
            <input type="hidden" name="post_type" value="send_chat"/>
            <input type="submit" class="btn btn-primary pull-center " value="发送"/>
        </div>
        <div style="height:100%;width:2%;float:left;"></div>
             </form>
    </div>-->


{% endblock %}


{% block scriptfile %}
    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript">
        var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        var chatSocket = new WebSocket(ws_scheme + '://' + window.location.host + '/ws/chat/' + {{ liveinfo.pk }} +'/');

        $(function () {
            updateMsg();    //更细信息
            //表单 submit 事件
            $("#chatForm").submit(function () {
                //ajax 提交表单
                $.post("{{ liveinfo.get_iframe_reviews_post_url }}", $('#chatForm').serialize(), function (data) {
                    $(".form-control1").val("");  //消息发送成功后清空内容框
                });
                return false;       //阻止表单提交
            });
            //打开|关闭评论
            $('#trv').on('click', function () {
                var btntxt = $(this).text();
                var text_data = {'message': '', 'action': 'toggle'};
                if (btntxt == '关闭评论') {
                    text_data['message'] = 'close';
                    $('#trv').text('打开评论');
                } else {
                    text_data['message'] = 'open';
                    $('#trv').text('关闭评论');
                }

                var jsonstr = JSON.stringify(text_data);
                console.log('send directive:' + jsonstr);
                chatSocket.send(jsonstr);
            });
        });

        //更新消息
        function updateMsg() {
            if (self.document.body.clientWidth > 0) {
                $.post("{{ liveinfo.get_iframe_reviews_post_url }}",
                    {
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        post_type: "get_chat",
                        last_chat_id: $(".chat_id").first().val()
                    },
                    function (data) {
                        $("#list-group-item").prepend(data);    //解析返回的 xml
                    });
            }
            //setTimeout("updateMsg()", 1000);        //每秒更新一次
        }

        chatSocket.onmessage = function (e) {
            var data = JSON.parse(e.data);
            var message = data['message'];
            var action = data['action'];
            if (action == 'refresh') {
                updateMsg();
            }
            console.log('receive response:' + message);
        };

        chatSocket.onopen = function () {
            console.log('websocket connection is created:[reviews]');
            //var text_data = {'message': 'heelo channels'};
            //chatSocket.send(JSON.stringify(text_data));
        };
    </script>
{% endblock %}