{% extends 'study/base.html' %}

{% load staticfiles %}


{% block titlefile %}


    <style>

        html, body {
        height: 100%;

        }
        .image_size {
            width: 100%;

        }
        .text-left {
            text-align: left;
        }
        .back_color{
            background-color: #1d1d1d;
            height: 100%;
            bottom:38px;
        }

        .span {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }

        .wei {
            vertical-align: middle;
        }
    </style>
{% endblock %}
{% block title %}直播简介{% endblock %}


{% block bodycontent %}



    <div class="back_color">

        {% if is_superuser %}
            {% if not liveinfo.is_replay %}
                <div class="text-left player-size backcolor">
                    <a class="btn btn-primary btn-lg divcss_center" id='sum' href="javascript:nextPage();">
                        下一页
                    </a>
                </div>
            {% endif %}
        {% endif %}

        <table style="width:100%;height:100%;">
            <tr valign=middle align=center>
                <td><img id="id_liveimage" class="image_size" src=""></td>
            </tr>
        </table>


    </div>







{% endblock %}

{% block scriptfile %}
    <script>

        {% if liveinfo.is_replay %}
            var srcs = new Array()
            var times = new Array()
            {% for item in imageUrls %}
                srcs.push("{{ item.src }}")
                times.push({{ item.time }})
            {% endfor %}

        {% endif %}
        $(function () {

            updateMsg();    //更细信息
        });

        //更新消息
        function updateMsg() {
            {% if liveinfo.is_replay %}
                var t = parent.callByChild()
                for (var i = 0; i < srcs.length; i++) {

                    var s = ""
                    if (times[i] <= t) {
                        s = srcs[i]
                    }
                    var index = document.getElementById("id_liveimage").src.indexOf(s)
                    if ( index == -1  && s != ""){

                        document.getElementById("id_liveimage").src = s
                    }
                }
                //document.getElementById("id_liveimage").src = srcs[0];
            {% else %}
                if (self.document.body.clientWidth > 0) {
                    $.get("{% url 'iframe_tasklive_introduce_liveimage' liveinfo.pk %}", {}, function (ret) {
                        document.getElementById("id_liveimage").src = ret;
                    })
                }
            {% endif %}

            //setTimeout("updateMsg()", 1000);        //每秒更新一次
        }

        function nextPage() {
            $.get("{% url 'iframe_tasklive_introduce_nextimage' liveinfo.pk %}", {}, function (ret) {
                })

        }
    </script>

{% endblock %}