{% extends 'study/main_base.html' %}

{% load staticfiles %}

{% block title %}首页{% endblock %}

{% block content %}
    <div id="content-container" class="container">
        <div class="row">
            {% for i in items %}
                <div class="col-sm-6">
                    <div class="thumbnail">
                        <a href="{% url 'picture_text_column' i.pk %}"><img src="{{ i.image.url }}" alt="{{ i.name }}"></a>
                        <div class="caption">
                            <h3>{{ i.name }}</h3>
                            <p>{{ i.introduce }}</p>
                            <p>
                                {% if i.video.is_expires %}
                                    <span class="badge float-right" style="color:forestgreen">报名中</span>
                                {% endif %}
                                <span class="text-danger">¥{{ i.video.price }}</span>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}