{% extends 'study/main_base.html' %}

{% load htmlhelper %}

{% block title %}首页{% endblock %}
{% block titlefile %}
    <style type="text/css">
        .thumbnail {
            border: 0 none;
        }

        .col-sm-6, .col-xs-6 {
            padding:5px 2px;

        }

        .badge {
            display: inline;
        }



 .mg-top {
            margin-top:-10px;
        }

    </style>
{% endblock %}
{% block content %}
    <section class="es-poster swiper-container">
        <div class="swiper-wrapper"
             style="width: 3375px; transform: translate3d(-1125px, 0px, 0px); transition-duration: 0.3s; height: 117px;">
            {% for item in abs %}
                <div class="swiper-slide" style="background: rgb(244, 244, 244); width: 375px; height: 117px;">
                    <div>
                        <a href="{{ item.url }}" target="_blank">
                            <img class="img-responsive" src="{{ item.image.url }}">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="swiper-pager">
            {% for item in abs %}
                <span class="swiper-pagination-switch"></span>
            {% endfor %}
        </div>
    </section>

    <div id="content-container" class="container">
        <div class="row mg-top">
            {% for i in items %}
                <div class="col-sm-6 col-xs-6">
                    <div class="thumbnail">
                        <a href="{% url 'picture_text_paper' i.pk %}">
                            <img src="{{ i.image.url }}" alt="{{ i.name }}">
                        </a>
                        <div class="caption">
                            <div style="margin-top: 1px;font-weight:bold; font-size:1.6rem ">{{ i.name }}</div>
                            <p style="font-size:1.2rem">{{ i.introduce|slice:'22' }}...</p>
                            <p style="margin-bottom:0" >
                                <span class="badge" style="color:forestgreen; float:right;"><small>{% is_buy i.video.pk request.user.pk %}</small></span>
                                <span style="color:orange"><small>¥{{ i.video.price }}/{{ i.video.count }}课时</small></span>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}