{% extends 'study/base.html' %}

{% load staticfiles %}
{% block main_titlefile %}
    <style>
        .itemDiv {
            background-repeat: repeat;
            background-image: url("{{ main_info.background.url }}");
        }
    </style>
{% endblock %}
{% block title %}扶阳医学{% endblock %}


{% block bodycontent %}
    <div class="es-wrap ">
        <header class="es-header navbar itemDiv">
            <div class="navbar-header">
                <div class="visible-xs  navbar-mobile">
                    <a href="javascript:;" class="navbar-more js-navbar-more">
                        <i class="es-icon es-icon-menu"></i>
                    </a>
                    <div class="html-mask"></div>
                    <div class="nav-mobile">
                        <ul class="nav navbar-nav">
                            <li class="nav-hover">
                                <a href="/" data-toggle="dropdown">扶阳学院
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/">报名区</a></li>
                                    <li><a href="{% url 'studyfuyang' %}">直播区</a></li>
                                    <li><a href="{% url 'videolectureindex' %}">视频区</a></li>
                                    <li><a href="{% url 'datalist' %}">资料区</a></li>
                                    <li><a href="{% url 'guide' 1 %}" target="_blank">使用指南</a></li>
                                </ul>
                            </li>
                            <li class="nav-hover">
                                <a href="/" data-toggle="dropdown">扶阳论坛
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{% url "picture_text_category" 3 %}">论坛区</a></li>
                                    <li><a href="{% url "picture_text_category" 4 %}">医案区</a></li>
                                    <li><a href="{% url "picture_text_category" 5 %}">中成药</a></li>
                                    <li><a href="{% url "picture_text_category" 6 %}">国医馆</a></li>
                                    <li><a href="{% url "picture_text_category" 13 %}">艾灸馆</a></li>
                                </ul>
                            </li>
                            <li class="nav-hover"><a href="/" target="_blank" data-toggle="dropdown">扶阳商城</a></li>
                        </ul>
                    </div>
                </div>
                <a href="/" class="navbar-brand">
                    <img src="{{ main_info.image.url }}" alt="{{ main_info.text_1 }}"
                         longdesc="{{ main_info.text_2 }}"/>
                </a>
            </div>
            <nav class="collapse navbar-collapse">
                <ul class="nav navbar-nav clearfix hidden-xs " id="nav">
                    <li class="nav-hover">
                        <a href="/" data-toggle="dropdown">扶阳学院
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/">报名区</a></li>
                            <li><a href="{% url 'studyfuyang' %}">直播区</a></li>
                            <li><a href="{% url 'videolectureindex' %}">视频区</a></li>
                            <li><a href="{% url 'datalist' %}">资料区</a></li>
                            <li><a href="{% url 'guide' 1 %}" target="_blank">使用指南</a></li>
                        </ul>
                    </li>
                    <li class="nav-hover">
                        <a href="/" data-toggle="dropdown">扶阳论坛
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url "picture_text_category" 3 %}">扶阳显义</a></li>
                            <li><a href="{% url "picture_text_category" 4 %}">优秀作业</a></li>
                            <li><a href="{% url "picture_text_category" 5 %}">扶阳天天乐</a></li>
                            <li><a href="{% url "picture_text_category" 6 %}">扶阳国医馆</a></li>
                        </ul>
                    </li>
                    <li class="nav-hover"><a href="/" target="_blank">扶阳商城</a></li>
                </ul>
                <div class="navbar-user  left ">
                    {% if request.user.is_authenticated %}
                        <ul class="nav user-nav">
                            <li class="user-avatar-li nav-hover">
                                <a href="javascript:;" class="dropdown-toggle">
                                    <img class="avatar-xs" src="{{ user_info.headimgurl }}">
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation" class="dropdown-header">{{ user_info.nickname }}</li>
                                    <li>
                                        <a href="{% url 'userinfo_center' %}"><i class="glyphicon glyphicon-dashboard"></i>个人信息</a>
                                    </li>
                                    <li><a href="{% url 'userinfo_realname' %}"><i class="glyphicon glyphicon-credit-card"></i> 实名认证</a></li>
                                    <li><a href="{% url 'userinfo_secure' %}"><i class="glyphicon glyphicon-cog"></i> 安全设置</a></li>
                                    <li><a href="{% url 'userinfo_finance' %}"><i class="glyphicon glyphicon-stats"></i> 账务中心</a></li>
                                    <li><a href="{% url 'userinfo_orders' %}"><i
                                            class="es-icon es-icon-accountwallet"></i>我的订单</a></li>
                                    <li><a href="{% url 'userinfo_collection' %}"><i class="es-icon es-icon-web"></i>我的收藏</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    {% else %}
                        <ul class="nav user-nav">
                            <li class="user-avatar-li nav-hover visible-xs">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                    <img class="avatar-xs" src="{% static "xuantong/image/avatar.png" %}">
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="user-nav-li-login">
                                        <a href="/">
                                            <i class="es-icon es-icon-denglu"></i>登录
                                        </a>
                                    </li>
                                    <li class="user-nav-li-register">
                                        <a href="/">
                                            <i class="es-icon es-icon-zhuce"></i>注册
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="hidden-xs">
                                <a href="/">登录</a>
                            </li>
                            <li class="hidden-xs">
                                <a href="/">注册</a>
                            </li>
                        </ul>
                    {% endif %}

                </div>
            </nav>
        </header>

        {% block content %}
            <div>扶阳中医真的好</div>
        {% endblock %}

        <footer class="es-footer">
            <div class="copyright text-sm">
                <div class="container">
                    Powered by
                    <a href="/" target="_blank">火神门</a>
                    <div class="mts">
                        <a href="http://www.miibeian.gov.cn/" target="_blank">粤ICP备18023026号</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <div id="login-modal" class="modal" data-url="/login/ajax"></div>
    <div id="modal" class="modal"></div>
    <div id="attachment-modal" class="modal"></div>

{% endblock %}