{% extends 'study/base.html' %}

{% load staticfiles %}

{% block title %}{{ liveinfo.name }}{% endblock %}


{% block titlefile %}

    <link href="{% static "xuantong/css/global.css" %}?version=6" rel="stylesheet">
    <link href="{% static "xuantong/css/live_black.css" %}?version=5" rel="stylesheet">

    <script src="//imgcache.qq.com/open/qcloud/video/vcplayer/TcPlayer-2.2.2.js" charset="utf-8"></script>
    <link href="http://imgcache.qq.com/open/qcloud/video/tcplayer/tcplayer.css" rel="stylesheet">
    <script src="//imgcache.qq.com/open/qcloud/video/tcplayer/ie8/videojs-ie8.js"></script>
    <script src="http://imgcache.qq.com/open/qcloud/video/tcplayer/lib/hls.min.0.8.8.js"></script>
    <script src="http://imgcache.qq.com/open/qcloud/video/tcplayer/tcplayer.min.js"></script>
    <style type="text/css">
        .tcplayer {
            margin: 0 auto;
        }

        /* 通过 css 设置播放器尺寸 这时<video>中的宽高属性将被覆盖*/
        .player-size {
            width: 100%;
            height: 1440px;
        }

        @media screen and (max-width: 2560px) {
            .player-size {
                width: 100%;
                height: 1170px;
            }
        }

        @media screen and (max-width: 1920px) {
            .player-size {
                width: 100%;
                height: 720px;
            }
        }

        @media screen and (max-width: 1280px) {
            .player-size {
                width: 100%;
                height: 540px;
            }
        }

        @media screen and (max-width: 640px) {
            .player-size {
                width: 100%;
                height: 270px;
            }
        }

        .iframe_size {
            width: 100%;
            height: 800px;
            border: 0;
        }

        .footer {
            position: fixed;
            left: 0px;
            bottom: 0px;
            width: 100%;
            height: 34px;
            z-index: 9999;
        }

        .pull-center {
            width: 100%;
            height: 100%;
        }

        .form-control1 {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #919191;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }
    </style>
{% endblock %}

{% block bodycontent %}
    {% if liveinfo.is_replay %}
        <video id="player-container-id" class="player-size" playsinline webkit-playsinline>
        </video>
    {% else %}
        <div id="id_test_video" class="player-size"></div>
    {% endif %}

    <div class="dashboard-body">
        <div class="tabs border-box">
            <ul class="display-box ">
                <li id="summary" class="flex ondoc on">
                    <a href="javascript:void(0);" onclick="toggletabs('s')">
                        <span>文档</span>
                    </a>
                </li>
                <li id="material" class="flex">
                    <a href="javascript:void(0);" onclick="toggletabs('m')">
                        <span>资料</span>
                    </a>
                </li>
                <li id="reviews" class="flex">
                    <a href="javascript:void(0);" onclick="toggletabs('r')">
                        <span>讨论区</span>
                    </a>
                </li>
            </ul>
        </div>
        <iframe id="iframe_introduce" class="task-content-iframe iframe_size"
                src="{{ liveinfo.get_iframe_introduce_url }}"
                allowfullscreen="" webkitallowfullscreen="">
        </iframe>
        <iframe id="iframe_material" class="task-content-iframe iframe_size hidden"
                src="{{ liveinfo.get_iframe_material_url }}"
                allowfullscreen="" webkitallowfullscreen="">
        </iframe>

        <iframe id="iframe_reviews" class="task-content-iframe iframe_size hidden"
                src="{{ liveinfo.get_iframe_reviews_url }}"
                allowfullscreen="" webkitallowfullscreen="">
        </iframe>
    </div>

    <div id="footer_input" class="footer" style="display: none">
        <form id="chatForm" class="footer" method="POST"
              action="{{ liveinfo.get_iframe_reviews_post_url }}">{% csrf_token %}
            <div style="height:100%;width:2%;float:left;"></div>
            <div id="menu" style="height:100%;width:78%;float:left;">
                <textarea class="form-control1" name="content" id="neirong" data-display="内容 "></textarea>
            </div>
            <div style="height:100%;width:3%;float:left;"></div>
            <div style="height:100%;width:15%;float:left;">
                <input type="hidden" name="post_type" value="send_chat"/>
                <input type="submit" class="btn btn-primary pull-center " value="发送"/>
            </div>
        </form>
    </div>

{% endblock %}

{% block scriptfile %}
    <script type="text/javascript">
        var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        var chatSocket = new WebSocket(ws_scheme + '://' + window.location.host + '/ws/chat/' + {{ liveinfo.pk }} +'/');

        $("#chatForm").submit(function () {
            //ajax 提交表单
            var wordsclean = '{{ main_info.wordsclean }}';
            var content = $('#neirong').val();
            if (content.length == 0) {
                alert('评论内容不能为空');
                return;
            }
            var wordsarr = wordsclean.split(/[,|;]+/);
            var result = $.grep(wordsarr, function (i) {
                return content.indexOf(i) > -1;
            });
            if (result.length > 0) {
                alert('评论内容含有敏感词语,请文明发言.');
                return;
            }
            $.post("{{ liveinfo.get_iframe_reviews_post_url }}", $('#chatForm').serialize(), function (data) {
                $(".form-control1").val("");  //消息发送成功后清空内容框
                var text_data = {'action': 'refresh', 'message': 'new reviews'};
                chatSocket.send(JSON.stringify(text_data));
            });
            return false;       //阻止表单提交
        });
        {% if liveinfo.is_replay %}
            var player = TCPlayer("player-container-id", { // player-container-id 为播放器容器ID，必须与html中一致
                fileID: "{{ liveinfo.play_id }}", // 请传入需要播放的视频filID 必须
                appID: "{{ liveinfo.play_app_id }}", // 请传入点播账号的appID 必须
                autoplay: true //是否自动播放
                //其他参数请在开发文档中查看
            });
        {% else %}
            var player = new TcPlayer('id_test_video', {
                "m3u8": "http://www.shejibang.cc/live/{{ liveinfo.live_key }}.m3u8",
                "m3u8_hd"   : "http://www.shejibang.cc/live/{{ liveinfo.live_key }}.m3u8",
                "m3u8_sd"   : "http://www.shejibang.cc/live/{{ liveinfo.live_key }}.m3u8",
                "autoplay": true,      //iOS下safari浏览器，以及大部分移动端浏览器是不开放视频自动播放这个能力的
            });
        {% endif %}

        function refreshPlayer() {
            {% if liveinfo.is_replay %}
            {% else %}
                player.destroy();
                player = new TcPlayer('id_test_video', {
                    "m3u8": "http://www.shejibang.cc/live/{{ liveinfo.live_key }}.m3u8",
                    "autoplay": true,      //iOS下safari浏览器，以及大部分移动端浏览器是不开放视频自动播放这个能力的
                });
            {% endif %}
        }

        function toggletabs(t) {
            $('#summary,#material,#reviews').removeClass('on').removeClass('ondoc');
            $('#footer_input').hide();
            switch (t) {
                case 's':   //文档tab
                    $('#summary').addClass('on').addClass('ondoc');
                    $('#iframe_introduce').removeClass('hidden');
                    $('#iframe_material,#iframe_reviews').addClass('hidden');
                    break;
                case 'm':   //资料tab
                    $('#material').addClass('on').addClass('ondoc');
                    $('#iframe_material').removeClass('hidden');
                    $('#iframe_introduce,#iframe_reviews').addClass('hidden');
                    break;
                default:    //讨论tab
                    $('#reviews').addClass('on').addClass('ondoc');
                    $('#iframe_reviews').removeClass('hidden');
                    $('#iframe_introduce,#iframe_material').addClass('hidden');
                    {% if liveinfo.speaking and liveinfo.is_liveing %}
                        $('#footer_input').show();  //录播是不显示评论,直播时才显示
                    {% endif %}
                    break;
            }
        }

        function goPAGE() {
            if (document.documentElement.offsetHeight > document.documentElement.offsetWidth) {
                //坚屏
                vh=$('#player-size').height();  //视频播放器高度
                th=$('.tabs').height(); //选项卡高度
                s = (document.documentElement.offsetHeight - vh - th) + "px"
                $('#iframe_introduce,#iframe_reviews,#iframe_material').attr('height',s);
            }
            else {
                //横屏
                s = "800px"
                $('#iframe_introduce,#iframe_reviews,#iframe_material').attr('height',s);
            }
        }

        chatSocket.onmessage = function (e) {
            var data = JSON.parse(e.data);
            var message = data['message'];
            var action = data['action'];
            if (action == 'toggle') {
                message == 'close' ? $('#chatForm').hide() : $('#chatForm').show();
                sessionStorage.setItem('reviewstate', message);
                console.log('receive reviews state:' + message);
            }
        };
        chatSocket.onopen = function () {
            console.log('websocket connection is created:[livingroom page]');
            //var text_data = {'message': 'heelo channels'};
            //chatSocket.send(JSON.stringify(text_data));
        };

        goPAGE();
        $(function () {
            //页面恢复时还原评论状态
            var rst = sessionStorage.getItem('reviewstate');
            if (rst != null) rst == 'close' ? $('#chatForm').hide() : $('#chatForm').show();

            /* begin禁用微信分享功能 */
            function onBridgeReady() {
                WeixinJSBridge.call('hideOptionMenu');
            }

            if (typeof WeixinJSBridge == "undefined") {
                if (document.addEventListener) {
                    document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
                } else if (document.attachEvent) {
                    document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                    document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
                }
            } else {
                onBridgeReady();
            }
            /* end禁用微信分享功能 */

            // 对浏览器的UserAgent进行正则匹配，不含有微信独有标识的则为其他浏览器
            var useragent = navigator.userAgent;
            if (useragent.match(/MicroMessenger/i) != 'MicroMessenger') {
                // 这里警告框会阻塞当前页面继续加载
                // 以下代码是用javascript强行关闭当前页面
                var opened = window.open('about:blank', '_self');
                /*opened.opener = null;
                opened.close();*/
            }
            else {
                window.alert = function (name) {
                    var iframe = document.createElement("IFRAME");
                    iframe.style.display = "none";
                    iframe.setAttribute("src", 'data:text/plain,');
                    document.documentElement.appendChild(iframe);
                    window.frames[0].window.alert(name);
                    iframe.parentNode.removeChild(iframe);
                }
            }
        });
    </script>

{% endblock %}