{% extends 'study/video_curriculum.html' %}

{% load staticfiles %}

{% block title %}{{ vc.name }}{% endblock %}

{% block container %}


    <div class="es-piece">
        <div class="piece-header">资料下载</div>
        <span style="color:red">声明：本资料区所有文件均为内部机密，只供已经报名的学员参考学习，严禁分享、转发、转载及摘编，违者将取消其学习资格并追究其法律责任！</span>
        <div class="course-detail-content">
            <ul class="media-list">
                {% for file in files %}
                    <li class="media">
                        <div class="media-body">
                            <div class="mbs">
                                <a href="{{ file.get_download_url }}" target="_blank">{{ file.name }}</a>
                            </div>


                            <div class="text-sm">
                                <span class="color-gray">{{ file.get_file_size }}MB</span>
                                <span class="bullet">•</span>

                                <span class="color-gray">上传于 {{ file.register_date|date:"Y-m-d" }}</span>
                            </div>

                        </div>
                    </li>
                {% endfor %}
            </ul>


        </div>
    </div>

{% endblock %}

{% block nav_tabs_class %}
    var v = document.getElementById("material");
    v.classList.add("active");
{% endblock %}