{% extends 'study/main_base.html' %}
{% load staticfiles %}
{% block title %}视频列表{% endblock %}

{% block titlefile %}
    <link href="{% static 'css/vlist.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
    <div style="background: #fff;width: 100%;">
        <ul class="tab">
            <li class="active"><a href="#">课程</a></li>
            <li>会议</li>
            <li>国医</li>
            <li>常见病</li>
            <li>纪录片</li>
            <li>传承人</li>
        </ul>
        <div class="search_bar">
            <input type="text" placeholder="请输入字段名"/>
            <span></span>
            <button class="searh"></button>
        </div>
    </div>
    {% include 'carousel.html' %}

    <div id="content-container" class="container">
        <div class="open-course-list">
            {% for cls in vcls %}
                <h4 class="caption">{{ cls.message }}
                    <small>查看更多</small>
                </h4>
                <div class="row course-list es-open-course-list">
                    {% for v in cls.vlist.all|slice:'4' %}
                        <div class="col-md-4 col-xs-6">
                            <div class="thumbnail">
                                <a href="{{ v.get_absolute_url }}" target="_blank">
                                    <img src="{{ v.image.url }}" alt="{{ v.name }}" class="img-responsive"/>
                                </a>
                                <div class="caption">
                                    {{ v.name }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}