{% extends 'study/video_curriculum.html' %}

{% load staticfiles %}

{% block title %}{{ vc.name }}{% endblock %}

{% block container %}


    <div class="es-piece">
        <div class="piece-header">资料下载</div>
        <div class="course-detail-content">


            <ul class="media-list">

                {% for file in files %}
                <li class="media">
                    <div class="media-body">
                        <div class="mbs">
                            <a href="{{ file.get_download_url }}" download="{{ file.name }}" target="_blank">{{ file.name }}</a>
                        </div>


                        <div class="text-sm">
                            <span class="color-gray">{{ file.get_file_size }}MB</span>
                            <span class="bullet">•</span>

                            <span class="color-gray">上传于 {{ file.register_date|date:"Y-m-d"  }}</span>
                        </div>

                    </div>
                </li>
                {% endfor %}
            </ul>


        </div>
    </div>

{% endblock %}

{% block nav_tabs_class %}
    var v = document.getElementById("material");
    v.classList.add("active");
{% endblock %}