{% extends 'study/main_base.html' %}
{% load staticfiles %}
{% block title %}视频区{% endblock %}
{% block titlefile %}
    <link href="{% static 'css/vlist.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <ul class="nav nav-pills">
        {% for cls in vcls %}
            <li role="presentation"{% if cls.pk == cid %} class="active"{% endif %}>
                <a href="{% url 'videocates' cls.pk %}">{{ cls.message }}</a>
            </li>
        {% endfor %}
    </ul>
    <form name="videosearchfrm" action="{% url 'video_pages' %}" method="get">
        <div class="search_bar">
            <input type="search" name="txtkey" placeholder="请输入字段名"/>
            <span></span>
            <button type="submit" class="searh"></button>
        </div>
    </form>
    {% include 'carousel.html' %}

    <div id="content-container" class="container">
        <div class="open-course-list">
            {% if tuijian %}
                <p class="leader">最新
                    <a href="{% url 'video_pages' %}?cid={{ cid }}&flag=0" style="display: inline-block; float:right;">更多</a>
                </p>
                <div class="row course-list es-open-course-list">
                    {% for v in tuijian %}
                        <div class="col-md-4 col-xs-6">
                            <div class="thumbnail">
                                <a href="{{ v.get_absolute_url }}" target="_blank">
                                    <img src="{{ v.image.url }}" alt="{{ v.name }}" class="img-responsive"/>
                                </a>
                                <div class="caption">
                                    {{ v.name }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if zhibao %}
                <p class="leader">全部
                    <a href="{% url 'video_pages' %}?cid={{ cid }}&flag=1" style="display: inline-block; float:right;">更多</a>
                </p>
                <div class="row course-list es-open-course-list">
                    {% for v in zhibao %}
                        <div class="col-md-4 col-xs-6">
                            <div class="thumbnail">
                                <a href="{{ v.get_absolute_url }}" target="_blank">
                                    <img src="{{ v.image.url }}" alt="{{ v.name }}" class="img-responsive"/>
                                </a>
                                <div class="caption">
                                    {{ v.name }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

        </div>
    </div>

{% endblock %}