{% extends 'study/main_base.html' %}
{% load staticfiles %}
{% block title %}视频列表{% endblock %}
{% block titlefile %}
    <link href="{% static 'css/vlist.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

    <ul class="nav nav-pills">
        {% for cls in vcls %}
            <li role="presentation">
                <a href="{% url 'videocates' cls.pk %}">{{ cls.message }}</a>
            </li>
        {% endfor %}
    </ul>
    <form name="videosearchfrm" action="{% url 'video_pages' %}" method="get">
        <div class="search_bar">
            <input type="search" name="txtkey" placeholder="请输入字段名"/>
            <span></span>
            <button type="submit" class="searh"></button>
        </div>
    </form>
    {% include 'carousel.html' %}

    <div id="content-container" class="container">
        <p class="open-course-list">
            {% for cls in vcls %}
                <p class="leader" style="font-size: larger;font-weight: bold;">
                    {{ cls.message }}
                    <a href="{% url 'videocates' cls.pk %}" style="display: inline-block; float:right;">
                        <small>查看更多</small>
                    </a>
                </p>
                <div class="row course-list es-open-course-list">
                    {% for v in cls.vlist.all|slice:'6' %}
                       <if v.show_face = '1'>
                        <div class="col-md-4 col-xs-4">
                            <div class="thumbnail">
                                <a href="{{ v.get_absolute_url }}" target="_blank">
                                    <img src="{{ v.image.url }}" alt="{{ v.name }}" class="img-responsive"/>
                                </a>
                                <div class="caption">
                                    {{ v.name|striptags|truncatechars:'6' }}
                                    <br>
                                    <small class="text-muted">{{ v.intro|striptags|truncatechars:'6' }}</small>
                                </div>
                            </div>
                        </div>
                    </if>
                    <!--      <if v.show_face = '0'>
                        <div class="col-md-4 col-xs-6">
                            <div class="thumbnail">
                                <a href="{{ v.get_absolute_url }}" target="_blank">
                                    <img src="{{ v.image.url }}" alt="{{ v.name }}" class="img-responsive"/>
                                </a>
                                <div class="caption">
                                    {{ v.name|striptags|truncatechars:'10' }}
                                    <br>
                                    <small class="text-muted">{{ v.intro|striptags|truncatechars:'12' }}</small>
                                </div>
                            </div>
                        </div>
                    </if>
                   -->

                    {% endfor %}

                </div>
            {% endfor %}
    </div>

{% endblock %}